.wrapper_task {
    display: inline-block;
    margin: 20px 20px;
    border: 1px solid black;
    min-width: 25%;
    text-align: center;
    padding: 10px;
}

.wrapper_task_finish {
    display: inline-block;
    margin: 20px 20px;
    border: 1px solid black;
    min-width: 25%;
    text-align: center;
    padding: 10px;
    background-color: #00ff00;
}

.title_text {
    overflow-wrap: break-word;
}

.input,
.button {
    margin: 10px!important;
}

.wrapper_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}